<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIRATES X MARINE!!! : Pirates List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>PIRATES</h1>
    <p>This is Pirates list!</p>
    
    <a href="/">Home</a>
    <a href="/pirates">Pirates List</a>
    <a href="/pirates/add">Add Pirate</a>
    <a href="/ships">Ships List</a>
    <a href="/ships/add">Add Ship</a>
    
    <!-- <h2>This is pirates list</h2> -->
    <!-- <%= pirates %> -->
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Haki</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% pirates.forEach(pirates => { %>
                <tr>
                    <td><%= pirates.id %></td>
                    <td><%= pirates.name %></td>
                    <td><%= pirates.status %></td>
                    <td><%= pirates.haki %></td>
                    <td><a href="pirates/delete/ <%= pirates.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>